{
	"semi": false,
	"useTabs": true,
	"htmlWhitespaceSensitivity": "ignore",
	"plugins": [
		"prettier-plugin-jsdoc",
		"prettier-plugin-astro",
		"prettier-plugin-tailwindcss"
	],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
